---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Sidebar from "../components/Sidebar.astro";
---

<Layout title="Bio">
    <main class="min-h-screen bg-white">
        <Nav transition:persist />

        <Sidebar transition:persist />

        <section
            class="mx-auto max-w-3xl p-8 pt-24 lg:ml-72 lg:mx-0 lg:max-w-none"
            transition:name="main-content"
            transition:animate="slide"
        >
            <article
                class="max-w-4xl space-y-6 [&_h1]:text-5xl [&_h1]:font-bold [&_p]:max-w-2xl [&_p]:leading-7"
            >


                <p>
                    <strong>Bio</strong>
                    I am an interdependent and undisciplinary learner. My work revolves around making environments, technologies or mediums for information, experiences and often, dreams. My practice is currently situated in Bidar, where I anchor a living lab & social enterprise called Dakkhan Ke which is a part of Living Labs Network. Over the years my work has been shaped by my interests in visual & material cultures, pluriversal design practice, place-based learning & doing, publication as a practice, sound studies, djing and creative coding.
                </p>

                <p>
                    <strong>Academic</strong>
                    I  pursued a Bachelor's in Design (Graphic Design) from The Design Village, graduating in 2021. In 2022, I participated in a short course called Communication Studies which was an introductory course in semiotics. I returned to my alma mater as a Faculty in the year 2023. In 2024, I furthered my education with the School for Poetic Computation and Gray Area, with a focus on Solidarity Infrastructures, DWeb & Community Tech Practices, which allowed me to explore the intersections of technology, community, and design.

                </p>

                <p>
                    <strong>Research Interests</strong><br>
                    <u>Local Techno Futures (Aruvu Collaboratory)</u><br>
                    Since 2024, I am part of Local Techno Futures, an long-term engagement aimed at creating technological systems and artefacts that emerge directly from the communities that use them. In this project, I am co-creating alternative technological artifacts with a Banjaara embroidery practitioner. The co-creation process has led us to think deeply about  language as a tool, marginalization of specific dialects and alternative technological futures.
                </p>

                <p>
                    <u>Samagra Arogya (Aruvu Collaboratory)</u><br>
                    Samagra Arogya focused on understanding and addressing social determinants of health at the Gram Panchayat level, fostering a long-term, place-based collaborative engagement in Kundapure, Karnataka.
                    </p>
                    <p>
                    <u>Listening to a Place</u><br>
                    I co-facilitated this course as a Primer with Living Labs Institute in which we learn from specific living contexts by listening (and recording) them. This learning engagement delved into soundscape studies, listening practice, DIY microphones etc. This course was carried out near the Papnash Lake area in Bidar.
                    </p>
                </article>
        </section>
    </main>
</Layout>
