---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Sidebar from "../components/Sidebar.astro";
import WorkView from "../components/WorkView.astro";
---

<Layout>
    <main class="min-h-screen bg-white">
        <Nav transition:persist />

        <Sidebar transition:persist />

        <section
            id="work"
            class="mx-auto max-w-3xl p-8 pt-24 lg:ml-72 lg:mx-0 lg:max-w-none"
            transition:name="main-content"
            transition:animate="slide"
        >
            <WorkView />
        </section>
    </main>
</Layout>
