---
// src/pages/test.astro
---

<html>
    <body class="bg-white">
        <nav
            style="
    position: fixed;
    top: 40px;
    left: 40px;
    color: white;
    mix-blend-mode: difference;
    z-index: 9999;
  "
        >
            WORK BIO CONTACT
        </nav>

        <div style="height:100vh;background:white;"></div>

        <div style="height:100vh;background:black;"></div>
    </body>
</html>
