<nav
    class="fixed right-0 left-auto lg:left-72 lg:right-auto top-0 z-[9999] flex gap-8 p-8 text-sm uppercase text-white mix-blend-difference"
>
    <a href="/#work">work</a>
    <a href="/bio/">bio</a>
    <a href="/#contact">contact</a>
</nav>
