---
import warpGroup from "../assets/Warp Group.png";
import disorderLogo from "../assets/disorderLogo 1.png";
import knight from "../assets/knight.png";
---

<div
    class="fixed bottom-0 left-0 z-30 flex w-screen items-end justify-between px-8 py-6"
>
    <img class="h-20 w-auto" src={warpGroup.src} alt="" />
    <img class="h-20 w-auto" src={disorderLogo.src} alt="" />
    <img class="h-20 w-auto" src={knight.src} alt="" />
</div>
