---
const { title = "Repertoire" } = Astro.props;
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Symbols from "../components/Symbols.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <ClientRouter />
    </head>

    <body class="bg-stone-100 text-stone-900 font-display">
        <slot />
        <Symbols transition:persist />
    </body>
</html>
