---
import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";
import Sidebar from "../components/Sidebar.astro";

const { title = "Archit Dhiman" } = Astro.props;
---

<Layout title={title}>
    <main class="min-h-screen">
        <Nav transition:persist />

        <Sidebar transition:persist />

        <section
            class="mx-auto max-w-3xl p-8 pt-24 lg:ml-72 lg:mx-0 lg:max-w-none"
            transition:name="main-content"
            transition:animate="slide"
        >
            <article class="max-w-4xl space-y-6 [&_h1]:text-5xl [&_h1]:font-bold [&_p]:max-w-2xl [&_p]:leading-7">
                <slot />
            </article>
        </section>
    </main>
</Layout>
